{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "rules": {
        "space-before-blocks": "off",
        "@typescript-eslint/space-before-blocks": ["error"],
        "semi": "off",
        "@typescript-eslint/semi": ["error"]
    },
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ]
}